<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestEngine</display-name>
  <welcome-file-list>
    <welcome-file>CETESTWelcome.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         D:\QP_Uploads\
     </param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>question-upload</param-name>
    <param-value>
         D:\Questions\
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>testengine.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUser</display-name>
    <servlet-name>ValidateUser</servlet-name>
    <servlet-class>testengine.controller.ValidateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUser</servlet-name>
    <url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateContrller</display-name>
    <servlet-name>CandidateContrller</servlet-name>
    <servlet-class>testengine.controller.CandidateContrller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateContrller</servlet-name>
    <url-pattern>/CandidateContrller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadCandidateServlet</display-name>
    <servlet-name>UploadCandidateServlet</servlet-name>
    <servlet-class>testengine.controller.UploadCandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadCandidateServlet</servlet-name>
    <url-pattern>/UploadCandidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchController</display-name>
    <servlet-name>BatchController</servlet-name>
    <servlet-class>testengine.controller.batch.BatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchController</servlet-name>
    <url-pattern>/BatchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>testengine.controller.subject.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>testengine.controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionPaperController</display-name>
    <servlet-name>QuestionPaperController</servlet-name>
    <servlet-class>testengine.controller.questionpaper.QuestionPaperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionPaperController</servlet-name>
    <url-pattern>/QuestionPaperController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadQPController</display-name>
    <servlet-name>UploadQPController</servlet-name>
    <servlet-class>testengine.controller.questionpaper.UploadQPController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadQPController</servlet-name>
    <url-pattern>/UploadQPController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>testengine.logins.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>testengine.controller.users.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
</web-app>