@charset "utf-8";
/* New CMS CSS */
.leftContent {
	width: 18%;
	float: left;
	margin: 0 1% 0 0;
	min-height:724px !important;
	position: relative;
}
.rightContent{
	width: 18%;
	float: right;
	margin: 0 0 0 1%;
	min-height:724px !important;
}

.leftNav-leftIcon {
 float:left;
 width:100%;
}
.leftIcons {
 float:left;
 width:15%;
}
.leftIcons_container{
 float:left;
 width:80%;
 padding-right:20px;
 margin:-5px 0 0 -5px;
 /*position:absolute;*/
 top:0;
 left:52px;
}
.leftIcons  ul{
 float:left;
 border:1px solid #ccc;
}
.leftIcons ul  li{
 list-style-type:none; 
 border-bottom: 1px solid #ccc;
}
.leftIcons  ul  li:hover {
background-color: #fff;
color: #999;
cursor: pointer;
}
/*.leftIcons_container > ul > li:first-child{
 border-left:0px solid #ccc !important;
}*/

.leftIcons  ul  li:last-child{
 border: none;
}
.leftIcons  ul  li  a{
 display:inline;
 float:left;
 background-position: center;
}
.addStaticPage_innerWrap{
 float:right;
 width:100%;
 background:#fff;
 padding:10px 10px 10px 15px;
 border:1px solid #bbb;
}
.staticLbl{
 width:35%;
}
.staticInput{
 padding: 10px 0px;
}
.staticInput input[type="text"],.staticInput textarea, .staticInput select{
 width:100%;
 background:#DADADA;
}
.staticInput textarea{
 height:50px !important;
}
.staticSwitch{
 float:right;
 padding:0 20px 10px 0; 
 margin-top:-15px;
}
.staticArrow{
 float: right;
 padding: 0px 15px 0 0;
 font-size: 18px;
}
.topNav_rightIcons{
 float:right;
}
.topNav_rightIcons > ul > li{
 list-style-type:none; 
 display:inline;
 float:left;
 border-left:1px solid #ccc;
}
.topNav_rightIcons > ul > li:hover {
 background-color: #fff;
 color: #999;
 /*border-top-left-radius: 8px;
 border-top-right-radius: 8px;
 -moz-border-top-left-radius: 8px;
 -moz-border-top-right-radius: 8px;
 -webkit-border-top-left-radius: 8px;
 -webkit-border-top-right-radius: 8px;
 cursor: pointer;*/
}
.topNav_rightIcons > ul > li:first-child{
 border-left:0px solid #ccc !important;
}
.topNav_rightIcons > ul > li:last-child{
 border-right:0px solid #ccc;
}
.topNav_rightIcons > ul > li > a{
 display:inline !important;
 float:left;
 background-position: center;
 cursor:pointer;
}

.slickSwipable ul li{
	display:inline-block;
}
				
.readyTemplatesForm{
	float:right;
	position:absolute;
	right:45px;
	top:0;
	margin-top:-35px;
}
.cms_cssBtn{
	border-color: transparent !important;
	background-color: transparent !important;
	font-weight:bold;
	color:#585858 !important;
	padding:10px !important;
	outline:none;
}
/**********************Test drag elements*************/

.leftIcons_container  #main-menu  li{
list-style-type:none;
border-bottom:1px solid #ccc;
margin: 5px 5px 5px 20px;
padding: 5px;
}

#main-menu li{
	list-style-type:none;
}
#main-menu li a{
	display:block;
}
.cms_cssTable  tbody tr{
	height:30px !important;
	background:#fff;
}
.cms_cssTable  > tbody > tr:nth-child(odd){
	background:#fff;
}


/* START Add new static page */
.sampleTemplateSlider{
width:540px;
 margin:-34px auto;
 position:absolute;
 right:-5px; 
}
.sampleTemplateSlider img{
 display:block;
 border:1px solid #CCC;
 box-shadow:0px 0px 15px 5px #EEE;
 -webkit-box-shadow:0px 0px 15px 5px #EEE;
 -moz-box-shadow:0px 0px 15px 5px #EEE;
}
 
.sampleTemplateSlider ul li a{
 display:block;
}


   /* Bullet Navigator Skin Begin */
         /* jssor slider bullet navigator skin 01 */
   
            /*
            .jssorb01 div           (normal)
            .jssorb01 div:hover     (normal mouseover)
            .jssorb01 .av           (active)
            .jssorb01 .av:hover     (active mouseover)
            .jssorb01 .dn           (mousedown)
            */
            .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
   {
                filter: alpha(opacity=70);
                opacity: .7;
                overflow:hidden;
                cursor: pointer;
                border: #000 1px solid;
            }
            .jssorb01 div { background-color: gray; }
            .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
            .jssorb01 .av { background-color: #fff; }
            .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
   
            /* jssor slider arrow navigator skin 05 css */
            /*
            .jssora05l              (normal)
            .jssora05r              (normal)
            .jssora05l:hover        (normal mouseover)
            .jssora05r:hover        (normal mouseover)
            .jssora05ldn            (mousedown)
            .jssora05rdn            (mousedown)
            */
            .jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
   {
             position: absolute;
             cursor: pointer;
             display: block;
                background: url(../images/cms_images/a17.png) no-repeat;
                overflow:hidden;
            }
            .jssora05l { background-position: -10px -40px; }
            .jssora05r { background-position: -70px -40px; }
            .jssora05l:hover { background-position: -130px -40px; }
            .jssora05r:hover { background-position: -190px -40px; }
            .jssora05ldn { background-position: -250px -40px; }
            .jssora05rdn { background-position: -310px -40px; }
   

.cms_msg{
 font-size:12px;
}
 
.hiddenContent{
   display: none;
}
 
.dragClass{
 padding:1px 3px;
}

/* END Add new static page */
/* START Responsive Preview */
.iphoneMode {
 /*width: 320px;
 height: 480px;
 overflow:auto;*/
 width: 358px;
height: 700px;			
background: url('../images/iphone-portrait.png') top left no-repeat;
background-size: contain;
position: relative;
}
.iphone-lMode{
 /*width: 480px;
 height: 320px;
 overflow:auto;
 */
 
 width: 700px;
			height: 358px;
			background: url('../images/iphone-landscape.png') top left no-repeat;
			background-size: contain;
			position: relative;
 
}

 
.ipadMode {
 width: 680px;
height: 870px;			
background: url('../images/tab-portrait.png') top left no-repeat;
background-size: contain;
position: relative;
}
.ipad-lMode {
 width: 1024px;
height: 801px;
background: url('../images/tab-landscape.png') top left no-repeat;
background-size: contain;
position: relative;
}

.ipadL-Container {
	width: 825px;
	height: 619px;
	position: absolute;
	top: 90px;
	left: 98px;
	overflow-x: hidden;
	overflow-y: auto;
}

.ipadP-Container {
width: 525px;
height: 700px;
position: absolute;
top: 84px;
left: 79px;
overflow-x: hidden;
overflow-y: auto;
}
	
.iphoneL-Container {
	width: 452px;
	height: 301px;
	position: absolute;
	top: 27px;
	left: 124px;
	overflow-x: hidden;
	overflow-y: auto;
}	
		
.iphoneP-Container {
	width: 301px;
	height: 452px;
	position: absolute;
	top: 124px;
	left: 30px;
	overflow-x: hidden;
	overflow-y: auto;
}

.desktopMode {
 width: 1600px;
 height: 600px;
 overflow: auto; 
 background:white;
 border: 10px solid;
}
.desktopContainer{
	position: absolute;
	top: 90px;
}
#responsivePreviewBlock .closeResp a {
	color: #2e2e2e !important;
	padding-left:20px;
}

#responsivePreviewBlock .closePreview {
	top: 4px;
}
.closePreview{
 position: absolute;
 top: 0px;
 right: 0px;
 float: right;
 padding: 2px 20px 2px 2px;
 background: url(../images/cms_images/cancelPreview.png) no-repeat right center;
 text-indent: -9999px;
 color: #000;
}


.closeResp{
 float: right;
position: relative;
 
 right: 15px;
 z-index: 9;
 padding: 0px 10px 5px 5px;
}
.closeResp  > .iconbutton,.closeResp  > .iconbutton:hover{
	background-color:transparent !important; 
	border-color:transparent;
	border:none;
	font-size:20px;
}
.iPhone-l{
 transform:rotate(90deg);
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
/* END Responsive Preview */

/* New design */

.cmsLeftIcons {
 float:left;
 padding:20px;
 width:100%;
}

.cmsLeftIcons > ul >li{
 list-style-type: none;
 display: inline;
 float: left;
 border-left: 1px solid #ccc;
}

.cmsLeftIcons > ul > li > div {
 display: inline;
 float: left;
}

/* START Draggable Form Design */

.required{
 color:#F00;
 }
.formEnclosure {
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  background: #F5F5F5;
}
.formEnclosure .caption {
  padding: 7px;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  background:#464646;
  color: #ffffff;
}
.formEnclosure .formContent {
  width: 80%;
  padding: 15px 0;
}
.formEnclosure .formContent .formLabel {
  width: 48%;
  float: left;
  padding: 5px;
  text-align: right;
}
.formEnclosure .formContent .formLabel label{
 vertical-align: sub;
}
.formEnclosure .formContent .formTbx {
  width: 48%;
  float: left;
  padding: 5px;
  text-align: left;
}

.formTbx > input[type="text"],.formTbx input[type="password"]{
width:200px;
}

.formEnclosure .formContent .formBtn {
  text-align: center;
  margin: 15px 0;
}
/* END Draggable Form Design */

.staticPage_container{
	margin-top:-63px;
}

.cms_listSpSrch{
	background:#dadada;
	height:28px;
}
/* Edit CSS Info page CSS STARTS */

.cmsCSS-form-right > .rich-stglpanel{
	width:100% !important;
}
.cmsCSS-common-box-wrap{
	float: left;
	width: 100%;
}		
.cmsCSS-form{
	margin:10px;
	overflow:auto;
}	
.cmsCSS-form-left{
	float:left;
	width:80%;
}
.cmsCSS-form-right{
	float:right;
	width:19%;
}			
.cssEditor_container{
	float: left;
	width: 85%;
	margin-top: 32%;
	margin-left:-2px;
}
.cssEditor_container .rich-table tbody tr{
	height:30px;
}	
.cms_cssTable > tbody >tr:nth-child(even){
	height:1px !important;
}
.cms_cssTable  .rich-table-cell{
	border-bottom:none;
}

.cms_cssTableLabel{
	background-color:#dadada;
	padding:10px;
}

.cms_cssNestedTable tbody tr {
	height:30px !important;
}
.cms_cssNestedTable{
	box-shadow:0px 1px 3px #b3b2b2;
	position:relative;
	border-top: 1px solid #b3b2b2 !important;
}
.cms_cssNestedTable > tbody > tr:nth-child(odd){
	background: #b3b2b2 !important;
	color:#fff;
}
.cms_cssNestedTable > tbody > tr:nth-child(even) {
	background: #fff !important;
}
.cms_cssNestedTable > tbody > tr > td{
	border-right:1px solid #e1e1e1;
}
.listNested-table > tbody > tr:nth-child(even) {
	background: #fff !important;
	height: 55px !important;
}
.hideTableFormat > tbody > tr > td.rich-table-cell:first-child {
	padding: 0 0 0 15px;
}
/* Edit CSS Info page CSS ENDS */	

/* Add new static page Nested table css STARTS*/
.cms_libraryTable > tbody >tr:nth-child(even){
	height:5px !important;
}

.cms_libraryNestedTable tbody tr {
	height:30px !important;
}
.cms_libraryNestedTable{
	/*box-shadow:0px 1px 3px #b3b2b2;*/
	position:relative;
	border-top: 1px solid #dadada !important;
}
.cms_libraryNestedTable > tbody > tr:nth-child(odd){
	background: #fff !important;
}
.cms_libraryNestedTable > tbody > tr:nth-child(even) {
	background: #fff !important;
}
.cms_libraryNestedTable > tbody > tr > td{
	border-right:none;
}
.cms_libraryTable tbody tr{
	height:30px;
}
.cms_libraryTable > tbody > tr:nth-child(odd){
	background:#dadada !important;
}
		
.cms_libraryTable > tbody > tr > .rich-table-cell {
	border-right:none !important;
	border-bottom:none !important;
}

.cms_cssContainer{
	float:left;
	width:80%;
	padding-right:20px;
	margin-left:42px;
	margin-top:-40px;
}
.hideTableFormat  tbody > tr > td.rich-table-cell{
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
}
/* Add new static page Nested table css ENDS*/
	
.iframeDesktop{
	width: 1600px;
 	height: 656px;
}
.iframeIpadL{
width: 1032px;
height: 862px;
}

.iframeIpadP{
	width: 690px;
	height: 910px;
}

.iframeIphoneL{
	width: 715px;
	height: 395px;
}

.iframeIphoneP{
	width: 367px;
	height: 740px;
}


/*Manage links Css Starts*/
.rich-menu-list-border{
	border:0;
	width:170px;
	left:310px !important;
}
.rich-menu-item{
	padding:5px;
	background:#1b63ab;
	margin-bottom:1px;
	font-size:12px;
	color:#fff;
}
.rich-menu-item:hover{
	background:#fff;
	color:#585858;
}
.ManageLink-Form{
	width:50%;
	border:1px solid #ccc;
	float:left;
}
.manageLink-FornHeader{
	width: 100%;
	background: #f7f7f7 repeat-x;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background-image: linear-gradient(to bottom,#fff 0,#dadada 60%);
	font-size:12px;
	color:#585858;
}
.manageLink-FormBody{
	padding:10px;
}
.manageLinksTree{
	background:#fff;
	padding:10px 10px 10px 0px;
	width:85%;
	float:left;	
}
/*Manage links Css Ends*/

/* Cms user library */

.cms_userLibContainer{
	float:left;
	width:100%;
}

.cms_userLibContainer > table{
	width:100% !important;
	margin:-2px 0 0 -1px;
}	
.cms_userLibWrap{
	float:left;
	width:100%;
	padding:10px;
}
.cms_userLibRight{
	float:left;
	width:21%;
}
	
.cms_userLibLeft{
	margin-right:10px;
	float:left;
	width:78%;
}

.cms_userLibPreview,.cms_userLibPreview:hover{
	float: right;
	padding: 6px;
	cursor: pointer;
	background-color: #1b63ab;
	color: #fff;
	margin: 4px;
	font-size: 13px;
}

/* Manage Banners CSS Starts */
.cms_bannerContainer{
	background:#fff;
	width:100%;
	float:left;
	min-height:700px;
}

.cms_bannerTop_content{
	padding:35px;
}

.cms_bannerTopWrap{
	float:left;
	width:100%;
	padding-bottom:25px;
}

.cms_bannerTopWrap > ul li:nth-child(2) {
	margin: 0;
}				

.cms_bannerTopWrap > ul  li{
	list-style-type: none;
	display: inline;
	float: left;
	margin:0 10px;
}
.cms_bannerBtn{
	background-color:#fff !important;
	border-color:#fff !important;
	color:#1b63ab !important;
	padding: 10px 20px;
	font-size: 14px;
	
}

.cms_uploadBannerBtn{
	background-color: #1b63ab;
	border: 1px solid #1b63ab;
	padding: 10px 20px;
	font-size: 14px;
	color:#fff !important;
}

.cms_bannerBottom_content{
	float:left;
	width:100%;	
}
.cms_bannerBottom_left{
	float:left;
	width:50%;
	padding:0 10px 0 0; 
}
.cms_bannerBottom_right{
	float:left;
	width:50%;
	padding:0 0 0 10px;
}

.cms_bannerBtn:active,.cms_bannerBtn:hover,.cms_bannerBtn:visited{
	color:#1b63ab !important;
	outline:1px solid #ccc !important;
}

.banner-search {
	float: left;
}
	
.banner-search ul li input {
	border-radius: 2px;
	outline: none;
	height: 35px;
	width: 397px;
	background: #dadada;
	border-color: #dadada;
}
.selectedlist{
	background:#CDCCCC;
}

.banner-search-icn {
		cursor: pointer;
		top: 0px;
		padding: 10px 8px;
		font-size: 13px;
		font-weight: bold !important;
		background: #dadada;
		position: relative;
		right: 4px;
		height: 35px;
		border-top-right-radius: 2px;
		-moz-border-top-right-radius: 2px;
		-webkit-border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		-moz-border-top-right-radius: 2px;
		-webkit-border-top-right-radius: 2px;
}

#bannerSelectList{
	height: 100%;
	max-height: 150px;
	overflow-y: auto;
	margin-top:20px;
}

#bannerSelect{
	background: white;
	padding: 10px;
}
#bannerSelect input{
	border:1px solid #bbb;
	width:100%;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

/* Manage Banners CSS Ends */

 .cms_pageTab{
		padding:10px;
		background-color:#dadada;
		border:1px solid #bbb;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		-moz-border-top-left-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
}

 .TabSwitch a.selected {
 	background: #fff;
 }


			    /* jssor slider arrow navigator skin 03 css */
			    /*
			    .jssora03l              (normal)
			    .jssora03r              (normal)
			    .jssora03l:hover        (normal mouseover)
			    .jssora03r:hover        (normal mouseover)
			    .jssora03ldn            (mousedown)
			    .jssora03rdn            (mousedown)
			    */
			    .jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
			    {
			     position: absolute;
			     cursor: pointer;
			     display: block;
			     overflow:hidden;
			    }
			    .jssora03l { background: url('../images/small/CMS-slider-left.png') no-repeat;top:14px !important; width:15px !important;height:15px !important;}
			    .jssora03r { background: url('../images/small/CMS-slider-right.png') no-repeat;top:14px !important;right:50px !important;width:15px !important;height:15px !important; }
			    .jssora03l:hover {background: url('../images/small/CMS-slider-left.png') no-repeat; }
			    .jssora03r:hover { background: url('../images/small/CMS-slider-right.png') no-repeat; }
			    .jssora03ldn { background-position: -243px -33px; }
			    .jssora03rdn { background-position: -303px -33px; }
			    .highlight {
	    background-color: #fff34d;
	    -moz-border-radius: 5px; /* FF1+ */
	    -webkit-border-radius: 5px; /* Saf3-4 */
	    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
	    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
	    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
	}
    
    #sub-left {
       float: left;
    }
    #sub-right {
       float: right;
       margin-right:7px;
    }
    .clear-both {
       clear: both;
    }
   
    #in_title {
        color: #CCCCF5;
        border: 1px solid #8080E6;
        font-size: medium;
    }
   
    #in_title, #in_snippet, #in_url, #in_richtext, #in_datevalue, #in_bold {
        font-family: 'Trebuchet MS'; 
    }
  
    #out_snippet {
        color: #545454;
        line-height: 1.4;
        word-wrap: break-word;
        font-size: small;
    }
	
/* START of Featured Manufacturer and Featured Brand */

#cimm_featuredManufacturerSlider,#cimm_featuredBrandSlider {
  margin: 0 0 10px;
}

#cimm_featuredManufacturerSlider .slides li,#cimm_featuredBrandSlider .slides li{
	margin-left:0 !important;
}
.cimm_featuredManufacturerLeft,.cimm_featuredBrandLeft {
  width: 50%;
  float: left;
  position: relative;
  padding:10px;
}
.cimm_featuredManufacturerLeft img,.cimm_featuredBrandLeft img  {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
}
.cimm_featuredManufacturerDesc,.cimm_featuredBrandDesc {
  width: 50%;
  float: left;
  color: #666;
  padding:10px;
}
.cimm_featuredManufacturerTitle,.cimm_featuredBrandTitle {
  color: #666;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0 0 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.flexslider .slides img {
  display: block;
}
.cimm_featuredManufacturerDesc h3,.cimm_featuredBrandDesc h3 {
  font-size: 20px;
  margin: 10px 0;
}
.cimm_featuredManufacturerDesc p,.cimm_featuredBrandDesc p {
  font-size: 13px;
  font-weight: 300;
}
.cimm_featuredManufacturerDesc p a,.cimm_featuredBrandDesc p a {
  color: #9f1c34;
  text-decoration: underline;
}
.cimm_featuredManufacturerDesc img,.cimm_featuredBrandDesc img{
	height:80px;
	width:180px;
} 
.cimm_featuredManufacturerLinks,.cimm_featuredBrandLinks {
  float:left;
  padding:0;
  margin-top: 10px;
}
.cimm_featuredManufacturerLinks li,.cimm_featuredBrandLinks li{
	float:left;
	padding:6px 0;
	list-style-type:none !important;
	margin:0 !important;
}
.secondaryBtn {
  background: #9f1c34;
  font-size: 11px;
  color: #fff !important;
  text-transform: uppercase;
  padding: 8px 18px;
  border: 1px solid #9f1c34;
}
.primaryBtn {
  background: #fff;
  font-size: 11px;
  color: #9f1c34 !important;
  text-transform: uppercase;
  padding: 8px 18px;
  border: 1px solid #9f1c34;
}
.cimm_featuredManufactrCarouselWrap,.cimm_featuredBrandCarouselWrap {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#cimm_featuredManufactrCarousel,#cimm_featuredBrandCarousel {
  width: 100%;
  margin: 0;
}
#cimm_featuredManufactrCarousel li,#cimm_featuredBrandCarousel li {
  margin:10px;
}
#cimm_featuredManufactrCarousel img,#cimm_featuredBrandCarousel img {
  display: inline-block;
  width: 100%;
  -webkit-filter: grayscale(1);
  cursor: pointer;
}

/* END of Featured Manufacturer and Featured Brand*/
	

/* START of Featured Product */
.cimm_featuredProdContainer{
	margin: 10px 0;
	position: relative;
	padding: 0 0 10px 0;
	border: 1px solid #b2b2b2;
	background:#E7E7E8;
	overflow: hidden;
}
.caroufredsel_wrapper{
	width:770px !important;
	height: 200px !important;
}
#cimm_featuredProdItems{
	width: 765px !important;
	height:200px !important;
	overflow:hidden;
	padding-left:0px;
}
#cimm_featuredProdItems  li{
	width:22%;
	float: left;
	text-align:center !important;
	margin: 5px 10px;	
	background:#FFF;
}
.cimm_featuredProdItemsWrap{
	width:100%;
	height:190px;
	padding: 5px;
	border: 2px solid #DDD;
}
#cimm_featuredProdItems .cimm_featuredProdItemsDesc ul li{
	float:none;
	width:100%;
	line-height:20px;
}
#cimm_featuredProdItems .cimm_featuredProdItemsDesc ul{
	padding-left:0;
}
#cimm_featuredProdItems .cimm_featuredProdItemsDesc ul li a{
	font-size:14px;
}
.cimm_featuredProdItemsTmg, .log-recItemImg {
	padding:5px;
}
.cimm_featuredProdItemsTmg img{
	padding:10px;
	border:2px solid #EEE;
	height:120px;
	margin:0 10px;
}
.cimm_featuredProdItemsDesc{
	width:100%;
	height:36px;
}
.cimm_featuredProdItemsDesc ul li, .log-recItemDesp ul li {
	font-size: 14px;
	line-height: 15px;
	color: #000;
	margin:0 0 0 0 !important;
}

.cimm_featuredProdTitle {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  padding: 5px 0 10px 10px;
  margin: 0 0 5px 0;
  background-color: #b2b2b2;
}

#prev_btn {
	background: url('../images/cms_images/prev-btn.png') top center no-repeat;
	width: 24px !important;
	height: 24px !important;
	position: absolute;
	right: 40px;
	top: 5px;
	text-indent: -9999px;
}

#next_btn{
	background: url('../images/cms_images/next-btn.png') top center no-repeat;
	width: 24px !important;
	height: 24px !important;
	position: absolute;
	right: 12px;
	top: 5px;
	text-indent: -9999px;
} 

#prev_btn:hover, #next_btn:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.cimm_featuredProdItemsDesc ul li{
	margin:0;
	padding:0;
	list-style-type: none !important;
}

#cimm_featuredProdItems li {
	list-style-type: none !important;
}


.cmsFeatureProduct{
	width: 100%;
	position:relative;
}

.cmsFeatureBrand{
	width: 100%;
	position:relative;
}

.cmsFeatureMfr{
	width: 100%;
	position:relative;
}
/* END of Featured Product */

/*.mce-content-body img[data-mce-selected]{
	max-width:100%;
}*/
.gm-content p img{
	max-width:100%;
}
